@use '../styles/partials/_mixins.scss' as *;
@use '../styles/partials/variables.scss' as *;

* {
    // outline: 1px solid red;
}

main {
    color: white;
    height: 200px;
    background-color: $main-app-bg;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapper {
    @include page-wrapper ();
}